[buildout]
parts =
    instance
    test

find-links =

develop =
    .

eggs =
    ZSI

unzip = true

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.10.6/Zope-2.10.6-final.tgz
fake-zope-eggs = true
skip-fake-eggs = zope.testing

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
verbose-security = on
debug-mode = on
eggs =
    ${buildout:eggs}
    zope.testing
    z3c.soap

zcml =
    z3c.soap
    z3c.soap-meta

[test]
recipe = zc.recipe.testrunner
eggs = z3c.soap
defaults = ['--tests-pattern', '^f?tests$', '-c', '--module=z3c.soap']
extra-paths = ${zope2:location}/lib/python

